In [80]:
import pandas as pd
train = pd.read_csv('./dataset/train.csv')
test = pd.read_csv('./dataset/test.csv')
sample_submission = pd.read_csv('./dataset/sample_submission.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6255 entries, 0 to 6254
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6255 non-null   int64
 1   Store         6255 non-null   int64
 2   Date          6255 non-null   object
 3   Temperature   6255 non-null   float64
 4   Fuel_Price    6255 non-null   float64
 5   Promotion1    2102 non-null   float64
 6   Promotion2    1592 non-null   float64
 7   Promotion3    1885 non-null   float64
 8   Promotion4    1819 non-null   float64
 9   Promotion5    2115 non-null   float64
 10  Unemployment  6255 non-null   float64
 11  IsHoliday     6255 non-null   bool
 12  Weekly_Sales  6255 non-null   float64
dtypes: bool(1), float64(9), int64(2), object(1)
memory usage: 592.6+ KB

In [81]:
train[['Promotion1', 'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5']].describe()

         Promotion1     Promotion2     Promotion3    Promotion4     Promotion5
count   2102.000000    1592.000000    1885.000000   1819.000000    2115.000000
mean    7155.930661    3308.125810    1462.535523   3465.952501    4518.993173
std     8408.206085    9382.823804    9667.580258   6413.116294    6048.661908
min        0.270000    -265.760000     -29.100000      0.410000     135.160000
25%     1844.295000      39.755000       4.700000    499.895000    1742.305000
50%     5221.140000     205.410000      24.600000   1532.630000    3226.410000
75%     9199.242500    1931.005000     104.010000   3640.905000    5444.030000
max    88646.760000  104519.540000  141630.610000  67474.850000  108519.280000

In [82]:
train = train.fillna(0)

def get_date(date):
    year = date[6:10]
    month = date[3:5]
    return int(year), int(month)

train['Year'] = train['Date'].apply(lambda x: get_date(x)[0])
train['Month'] = train['Date'].apply(lambda x: get_date(x)[1])

train = train.drop(columns=['Date'])
train

,id,Store,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales,Year,Month
0,1,1,42.31,2.572,0.00,0.00,0.00,0.00,0.00,8.106,False,1643690.90,2010,2
1,2,1,38.51,2.548,0.00,0.00,0.00,0.00,0.00,8.106,True,1641957.44,2010,2
2,3,1,39.93,2.514,0.00,0.00,0.00,0.00,0.00,8.106,False,1611968.17,2010,2
3,4,1,46.63,2.561,0.00,0.00,0.00,0.00,0.00,8.106,False,1409727.59,2010,2
4,5,1,46.50,2.625,0.00,0.00,0.00,0.00,0.00,8.106,False,1554806.68,2010,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,6251,45,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,8.684,False,734297.87,2012,8
6251,6252,45,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,8.684,True,766512.66,2012,9
6252,6253,45,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,8.684,False,702238.27,2012,9
6253,6254,45,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,8.684,False,723086.20,2012,9
6254,6255,45,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,False,713173.95,2012,9

In [83]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(train[['Promotion1', 'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5']])

scaled = scaler.transform(train[['Promotion1', 'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5']])

train[['Scaled_Promotion1', 'Scaled_Promotion2', 'Scaled_Promotion3', 'Scaled_Promotion4', 'Scaled_Promotion5']] = scaled

train = train.drop(columns=['Promotion1', 'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5'])
train

,id,Store,Temperature,Fuel_Price,Unemployment,IsHoliday,Weekly_Sales,Year,Month,Scaled_Promotion1,Scaled_Promotion2,Scaled_Promotion3,Scaled_Promotion4,Scaled_Promotion5
0,1,1,42.31,2.572,8.106,False,1643690.90,2010,2,-0.405482,-0.170211,-0.082414,-0.265323,-0.371303
1,2,1,38.51,2.548,8.106,True,1641957.44,2010,2,-0.405482,-0.170211,-0.082414,-0.265323,-0.371303
2,3,1,39.93,2.514,8.106,False,1611968.17,2010,2,-0.405482,-0.170211,-0.082414,-0.265323,-0.371303
3,4,1,46.63,2.561,8.106,False,1409727.59,2010,2,-0.405482,-0.170211,-0.082414,-0.265323,-0.371303
4,5,1,46.50,2.625,8.106,False,1554806.68,2010,3,-0.405482,-0.170211,-0.082414,-0.265323,-0.371303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,6251,45,75.09,3.867,8.684,False,734297.87,2012,8,3.580831,-0.168998,-0.065037,1.574261,0.598779
6251,6252,45,75.70,3.911,8.684,True,766512.66,2012,9,1.453422,-0.167623,-0.072573,0.222921,0.128229
6252,6253,45,67.87,3.948,8.684,False,702238.27,2012,9,1.518086,-0.170211,-0.081610,0.635401,0.909037
6253,6254,45,65.32,4.038,8.684,False,723086.20,2012,9,1.019698,-0.151556,-0.070589,0.360229,1.735591
6254,6255,45,64.88,3.997,8.684,False,713173.95,2012,9,0.362838,-0.166038,-0.082133,0.156122,0.427737

In [84]:
test = test.fillna(0)

test['Year'] = test['Date'].apply(lambda x: get_date(x)[0])
test['Month'] = test['Date'].apply(lambda x: get_date(x)[1])
test = test.drop(columns=['Date'])

scaled = scaler.transform(test[['Promotion1', 'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5']])

test[['Scaled_Promotion1', 'Scaled_Promotion2', 'Scaled_Promotion3', 'Scaled_Promotion4', 'Scaled_Promotion5']] = scaled

test = test.drop(columns=['Promotion1', 'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5'])

test

,id,Store,Temperature,Fuel_Price,Unemployment,IsHoliday,Year,Month,Scaled_Promotion1,Scaled_Promotion2,Scaled_Promotion3,Scaled_Promotion4,Scaled_Promotion5
0,1,1,68.55,3.617,6.573,False,2012,10,0.956583,-0.170211,-0.079007,0.686920,0.509844
1,2,1,62.99,3.601,6.573,False,2012,10,-0.053718,-0.170211,-0.080897,-0.106760,1.068815
2,3,1,67.97,3.594,6.573,False,2012,10,-0.245241,-0.170211,-0.081492,-0.244199,0.190716
3,4,1,69.16,3.506,6.573,False,2012,10,0.030535,-0.163792,-0.081292,0.012961,-0.054187
4,5,2,70.27,3.617,6.170,False,2012,10,0.612584,-0.170211,-0.080536,0.531594,0.565067
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,44,46.97,3.755,5.217,False,2012,10,-0.398965,-0.169683,-0.082230,-0.265323,-0.260073
176,177,45,64.89,3.985,8.667,False,2012,10,0.445482,-0.170211,-0.078895,0.327864,0.197316
177,178,45,54.47,4.000,8.667,False,2012,10,-0.075621,-0.170211,-0.080938,-0.107560,0.598392
178,179,45,56.47,3.969,8.667,False,2012,10,-0.067571,-0.170211,-0.081819,-0.150097,0.002305
179,180,45,58.85,3.882,8.667,False,2012,10,0.272172,-0.158469,-0.063715,-0.209533,-0.162730

In [85]:
from sklearn.ensemble import RandomForestRegressor

# 모델 선언
model = RandomForestRegressor()

# 분석 의미 없는 id 제거
train = train.drop(columns=['id'])
test = test.drop(columns=['id'])

# 학습에 사용할 정보와 예측하고자 하는 정보를 분리
x_train = train.drop(columns=['Weekly_Sales'])
y_train = train['Weekly_Sales']

# 모델 학습
model.fit(x_train,y_train)

RandomForestRegressor()

랜덤 포레스트는 대표적인 앙상블(ensemble) 모델의 일종이다.
"여러 개의 트리 모델" 에 "서로 다른 데이터"를 투입하여 나온 결과를 종합하여 가장 많은 투표(Votin) 를 얻은 결과를 최종 결과로 선택하는 방식으로 작동한다
과적합(Overfitting) 을 방지할 수 있고, 보다 일반화된 성늘을 끌어낼 수 있다

In [90]:
prediction = model.predict(test)

prediction[:10]

array([1627009.5792, 1596479.7671, 1493021.0784, 1450962.3396,
       1817554.7655, 1816543.0798, 1741123.0343, 1754111.7512,
        472200.9476,  465912.8778])

In [92]:
sample_submission['Weekly_Sales'] = prediction
sample_submission.to_csv('./dataset/submission.csv',index = False)
sample_submission

      id  Weekly_Sales
0      1  1.627010e+06
1      2  1.596480e+06
2      3  1.493021e+06
3      4  1.450962e+06
4      5  1.817555e+06
..   ...           ...
175  176  3.308340e+05
176  177  7.417857e+05
177  178  7.062136e+05
178  179  7.263185e+05
179  180  7.439728e+05

[180 rows x 2 columns]